@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --primary: 142 72% 29%; /* Admin green */
    --primary-foreground: 210 40% 98%;

    --secondary: 221 83% 53%; /* Bank blue */
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;

    --accent: 37 92% 50%; /* Shemach amber */
    --accent-foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --primary: 142 72% 35%;
    --primary-foreground: 210 40% 98%;

    --secondary: 221 83% 60%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;

    --accent: 37 92% 55%;
    --accent-foreground: 222.2 84% 4.9%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}